<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ns2:services xmlns:ns2="http://com.ibm.etools.mft.service">
    <ns2:service name="MQServiceDeprisa" wsdlFileName="MQServiceDeprisa.wsdl" portType="MQServiceDeprisa">
        <ns2:operations>
            <ns2:operation name="DEPRISAOUTQUEUE_Operation"/>
        </ns2:operations>
        <ns2:policies>
            <ns2:policy name="MQServiceDeprisaConnectionPolicy" location="/apiv1/policy/MQEndpoint/MQServiceDeprisaConnectionPolicy"/>
        </ns2:policies>
        <ns2:metadata>
            <discovery>
                <discoveryConnection>
                    <mqConnectionDetails>
                        <mqConnectionType>LOCAL</mqConnectionType>
                        <queueManagerName>QM1</queueManagerName>
                        <queueManagerHost>localhost</queueManagerHost>
                        <listenerPort>1414</listenerPort>
                        <channelName>SYSTEM.BKR.CONFIG</channelName>
                    </mqConnectionDetails>
                </discoveryConnection>
                <runtimeConnection>
                    <InputMessageHeaderProperties/>
                </runtimeConnection>
                <filterProperties>
                    <messageFormatProperties>
                        <messageExchangePattern>One-Way</messageExchangePattern>
                    </messageFormatProperties>
                </filterProperties>
                <selectedObjects>
                    <Queue>
                        <id>DEPRISA.OUT.QUEUE</id>
                        <nodeName>DEPRISA.OUT.QUEUE</nodeName>
                        <input>true</input>
                    </Queue>
                </selectedObjects>
                <selection>
                    <selectionProperties>
                        <interfaceProperties>
                            <portTypeName>MQServiceDeprisa</portTypeName>
                            <nsProperty>http://MQServiceDeprisa</nsProperty>
                            <defaultMessageConfig>type</defaultMessageConfig>
                        </interfaceProperties>
                        <serviceOperationProperties>
                            <ServiceOperationName>DEPRISAOUTQUEUE_Operation</ServiceOperationName>
                        </serviceOperationProperties>
                        <InputMessageProperties>
                            <inputMessageName>string</inputMessageName>
                            <inputMessageNamespace>http://www.w3.org/2001/XMLSchema</inputMessageNamespace>
                            <inputMessageType>type</inputMessageType>
                        </InputMessageProperties>
                    </selectionProperties>
                </selection>
                <outputProperties/>
            </discovery>
        </ns2:metadata>
        <ns2:connectors>
            <ns2:connector binding="com/ibm/mft/connector/mq:MQConnector" version="1.0.0" location="MQServiceDeprisa.wsdl"/>
        </ns2:connectors>
        <ns2:dataTypes>
            <ns2:dataType name="" location="MQServiceDeprisa_InlineSchema.xsd"/>
        </ns2:dataTypes>
    </ns2:service>
</ns2:services>
